body{
    font-family: Candara, sans-serif;
}

/* sidebar */
.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: steelblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a{
    color: wheat;
    display: block;
    text-decoration: none;
}

.sidebar a:hover{
    color: papayawhip;
}

/* footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: steelblue;
  color: wheat;
}

/* main text */
.main{
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}