body{
    font-family: Candara, sans-serif;
}

h1{
    color: olive;
    border-color: bisque;
}

p{
    color: black;
}

/* sidebar */
.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: darkgoldenrod;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a{
    color: wheat;
    display: block;
    text-decoration: none;
}

.sidebar a:hover{
    color: papayawhip;
}

/* footer */
footer {
    text-align: center;
    padding: 30px;
    background-color:darkgoldenrod;
    color: wheat;
}

footer a{
    color: wheat;
    display: block;
    text-decoration: none;
}

footer a:hover{
    color: papayawhip;
}

/* main text */
.main{
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}


#myForm{
    text-align: center;
    color: rosybrown;
    background-color: lemonchiffon;
}

div#main{
    position: fixed;
    height: 100%;
    width:100%;
    background-color: lemonchiffon;
    font-family: "Comic Sans MS", sans-serif;
}

textarea{
    color: saddlebrown;
    border-color: rosybrown;
    border-width: thick;
}

input{
    border-color: saddlebrown;
    border-width: medium;
    font-family: "Comic Sans MS", sans-serif;
    background-color: ghostwhite;
}

ol a{
    text-decoration: none;
    color: black;
}

ol a:hover{
    color: dimgray;
}